In [32]:
import pandas as pd 
import random
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [38]:
le = LabelEncoder()
genre = ['shounen', 'romance', 'shojo', 'action', 'adventure', 'comedy', 'drama', 'horror', 'slice of life', 'school']
le.fit(genre)
genre = le.transform(genre)

array([8, 5, 7, 0, 1, 2, 3, 4, 9, 6])

In [51]:
data = []
for i in range(1000):
    temp = [i, random.choice(genre), random.randint(50, 100000), random.randint(1,1000), random.randint(1,10), random.randint(0,1)]
    data.append(temp)
df = pd.DataFrame(data, columns=['id','fav_genre', 'mins_watched', 'anime_watched', 'mean_score', 'matched'])
df.set_index(keys='id', inplace=True)
df

     fav_genre  mins_watched  anime_watched  mean_score  matched
id
0            3         93744            730           1        1
1            4         80398            905           7        0
2            1         95471            574           2        0
3            8         84969            178           6        1
4            8         74785            254           4        1
..         ...           ...            ...         ...      ...
995          2         99469            524           6        1
996          5         51378            297           4        0
997          0         24765            944           1        0
998          5         48308            596           9        0
999          2         36190            590          10        0

[1000 rows x 5 columns]

In [52]:
X = df.loc[:, df.columns != 'matched']
Y = df['matched']
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3, random_state=42)

In [59]:
neigh = KNeighborsClassifier(n_neighbors=10)
neigh.fit(X_train, Y_train)
print(neigh.score(X=X_test, y=Y_test))
print(neigh.predict(X_test))

0.48333333333333334
[0 0 1 0 0 0 1 0 0 0 0 0 0 1 1 0 0 1 0 0 1 1 1 0 1 1 0 1 1 0 0 1 0 0 1 0 1
 1 1 1 1 0 0 0 0 0 0 1 1 0 0 0 0 1 0 1 0 0 1 0 0 1 0 0 1 1 1 1 0 0 1 0 0 1
 1 0 1 1 1 0 0 0 0 0 1 0 1 0 1 1 1 0 0 1 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1
 1 0 0 1 1 0 0 0 1 1 1 0 1 1 0 0 1 0 0 1 0 0 0 1 0 1 0 0 0 1 1 0 1 0 1 1 0
 0 1 1 1 1 1 1 1 0 1 0 1 0 1 0 0 0 1 0 1 1 1 0 0 0 1 0 1 0 0 0 0 0 1 1 0 1
 1 0 1 1 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 1 1 1 0 0 1
 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 1 1 0 1 0 0 1 1 0 1 0 0 0 0 1
 0 1 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 1 0 1 0 0 1 1 0 1 1 0 0 0 1 0 0 1 1 1 1
 0 0 0 1]